@use 'src/app/styles/themes/light.scss' as default;
@use 'src/app/styles/themes/dark.scss' as dark;

$control-width: 384px;

.container {
  display: block;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  height: 25%;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  background-color: inherit;

  // Form Container
  &__form {
    display: flex;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    gap: 0.350em;
    background-color: inherit;
  }

  &__title {
    color: rgba(default.$default-color, 0.750);
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;

    &.dark {
      color: rgba(dark.$default-color, 1);
    }
  }

  &__control {
    padding: 6px;
    width: $control-width;
    text-align: left;
    outline: none;
    font-size: 1em;
    border: 1px solid rgba(default.$default-color, 0.300);
    border-radius: 4px;
    background-color: transparent;
    color: rgba(default.$default-color, 1);

    &.dark {
      border: 1px solid rgba(dark.$default-color, 0.750);
      border-radius: 4px;
      color: rgba(dark.$default-color, 1);
    }

    &::placeholder {
      color: rgba(default.$default-color, 0.450);
    }
  }


  &__button {
    color: default.$accent-color;
    background-color: rgba(default.$accent-color, 0.250);
    border: 1px dashed default.$accent-color;
    border-radius: 2px;
    cursor: pointer;

    &.disabled {
      color: rgba(default.$default-color, 0.450);
      border-color: rgba(default.$default-color, 0.450);
      background-color: initial;
      cursor: no-drop;
    }

    &.dark {
      color: dark.$default-color;
      border: 1px solid white;
    }
  }

  &__typeahead {
    width: calc($control-width + 99.51px);
    margin-top: 0.350em;
  }
}

.loader {
  display: block;
  height: 58px;
  width: 58px;
  margin: 2.450em auto;
}

.card {
  display: block;
  height: auto;
  width: auto;
  margin: 0 auto;
  background-color: initial;
}

.search__control.dark::placeholder {
  color: rgba(dark.$default-color, 1);
}

.search__button.disabled_and_dark {
  color: rgba(dark.$default-color, 0.450);
  border-color: rgba(dark.$default-color, 0.450);
  background-color: initial;
  cursor: no-drop;
}
