<div class="container">

  <div class="search">
    <h3 class="search__title">Pesquisar por região</h3>

    <div class="search__form">
      <input
        type="text"
        [formControl]="searchControl"
        placeholder="São Paulo..."
        class="search__control"
      >
      <button
        class="search__button"
        [class]="{ disabled: !searchControl.valid }"
        [disabled]="!searchControl.valid"
        (click)="doSearch()"
      >
        Pesquisar
      </button>
    </div>

    <app-cities-typeaheade
      class="search__typeahead"
      [formControl]="searchControlWithAutocomplete"
    >
    </app-cities-typeaheade>

  </div>

  <app-loader class="loader" *ngIf="loading$ | async"></app-loader>

  <div class="card" *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
    <!-- {{ (cityWeather$ | async)!.weather.description }} -->
    <app-home
      [cityWeather]="cityWeather"
      [isFavorite]="(isCurrentFavorite$ | async)!"
      (toggleBookmark)="onToggleBookmark()"
      [unit]="(unit$ | async)!"
    >
    </app-home>
  </div>

  <div class="failure" *ngIf="!(loading$ | async) && (error$ | async)">
    Ocorreu um erro.
  </div>
</div>
