.weather {
  display: flex;
  height: 65%;
  width: 100%;
  margin: 0;
  padding: 0.650em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__main {
    display: flex;
    gap: 1em;
    align-items: center;
    border: 6px;

    .icon {
      margin: 0;
      padding: 0;
    }
  }

  &__desc {

    h3 {
      margin: 0 0 5.5px 0;
      padding: 0;
    }

    .desc__span {
      text-transform: capitalize;
    }

  }

  &__misc {
    padding: 0.850em;
    display: inline-flex;
    gap: 1em;
  }
}

@media(max-width: 700px) {
  .weather {
    width: auto;
    padding: 0;

    &__main {
      gap: 0.650em;
      justify-content: flex-start;
    }

    &__desc {

      h3 {
        font-size: 20px;
        margin: 0 0 5.5px 0;
      }

      .desc__span {
        text-transform: capitalize;
      }

    }

    &__misc {
      display: flex;
      flex-direction: column;
      font-size: 13.5px;

      div {
        text-align: start;
      }
    }
  }
}
