<div class="card">
  <div class="card__body">
    <h2 class="card__title" [ngClass]="className">{{ city }}</h2>

    <app-detailed-weather
      [weather]="cityWeather.weather"
      [unit]="unit"
      class="card__details"
    >
    </app-detailed-weather>

    <div class="card__actions">
      <a
        class="card__link"
        (click)="onToggleBookmark()"
        [ngClass]="className"
      >
        {{isFavorite ? 'Remover dos Favoritos' : 'Adicionar aos favoritos'}}
      </a>
      <a
        class="card__link"
        routerLink="/details"
        [ngClass]="className"
        [queryParams]="{ lat: cityWeather.city.coord.lat, lon: cityWeather.city.coord.lon }"
      >
        Ver detalhes
      </a>
    </div>
  </div>
</div>
