<div class="home-card">
  <div class="home-card__body">
    <h2 class="home-card__title">{{ city }}</h2>

    <app-detailed-weather
      [weather]="cityWeather.weather"
      [unit]="unit"
      class="home-card__details"
    >
    </app-detailed-weather>

    <div class="home-card__actions">
      <a
        class="home-card__link"
        (click)="onToggleBookmark()"
      >
        {{isFavorite ? 'Remover dos Favoritos' : 'Adicionar aos favoritos'}}
      </a>
      <a
        class="home-card__link"
        routerLink="/details"
        [queryParams]="{ lat: cityWeather.city.coord.lat, lon: cityWeather.city.coord.lon }"
      >
        Ver detalhes
      </a>
    </div>
  </div>
</div>
