<div class="card">
  <div class="card__body">
    <h2 class="card__title">{{ city }}</h2>

    <app-detailed-weather
      [weather]="cityWeather.weather"
      class="card__details"
    >
    </app-detailed-weather>

    <div class="card__actions">
      <a
        class="card__link"
        (click)="onToggleBookmark()"
      >
        {{isFavorite ? 'Remover dos Favoritos' : 'Adicionar aos favoritos'}}
      </a>
      <a class="card__link" routerLink="/details">Ver detalhes</a>
    </div>
  </div>
</div>
