.container {
  display: flex;
  height: auto;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.725em;
}

.details__title {
  margin: 1.25em 0 0 0;
}

.details__subtitle {
  margin: 1em 0 0.250em 0;
}
