@use 'src/app/styles/themes/light.scss' as default;

* {
  margin: 0;
}

.container {
  display: flex;
  height: auto;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.details__subtitle {
  margin: 1em 0 0.250em 0;
  color: default.$default-color;
}
