$logo-color: #1a1a1a;
$accent-color: #5ff195;

.navbar {
  display: flex;
  height: 64px;
  width: 100%;
  margin: 0;
  padding: 0 1em;
  color: $logo-color;
  background-color: rgba(247,247,247,1);
  border-bottom: 1px solid rgba($logo-color, 0.4);
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  &__image {
    opacity: 0.9;
    cursor: pointer;
    width: 128px;
  }

  &__list {
    width: fit;
    height: auto;
    display: flex;
    gap: 1.250em;
  }

  &__link {
    text-align: center;
    font-size: 1.3em;
    font-weight: normal;
    color: rgba($logo-color, 0.8);
    border-bottom: 1px solid transparent;
    padding-bottom: 6px;
    cursor: pointer;
    transition: 0.4s ease-out;

    &:hover {
      border-bottom: 1px solid rgba($logo-color, 0.6);
    }
  }
}
