<nav class="navbar">
  <div class="navbar__main" [ngClass]="{'mobile': !isOpen}">
    <span [title]="logoDesc" class="navbar__logo">Cloudy</span>

    <ul class="navbar__list">
      <li><a class="navbar__link" routerLink="">Início</a></li>
      <li><a class="navbar__link" routerLink="bookmarks">Favoritos</a></li>
      <li>
        <span class="mobile__span">Selecionar Tema:</span>
        <img (click)="switchTheme()" src="{{ themeIcon }}" class="navbar__icon" [title]="themeTitle">
      </li>
    </ul>
  </div>

  <div
    id="navbar-portal-outlet"
    class="navbar__portal"
    [ngClass]="{'mobile': !isOpen}"
  >
  </div>

  <img
    class="navbar__menu"
    (click)="toggleMenu()"
    src="{{ !isOpen ? closeIcon : menuIcon }}"
  >
</nav>
