@use 'src/app/styles/themes/light.scss' as default;

.loading {
  display: block;
  height: 48px;
  width: 48px;
  background-color: transparent;
  border-radius: 50%;
  border: 4.25px solid default.$contrast-color;
  border-top-color: rgba(default.$default-color, 0.425);
  animation: spin 0.8s infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
