.daily-weather {
  display: flex;
  height: auto;
  width: 78vw;
  box-sizing: border-box;
  padding: 1em;
  flex-direction: column;
  gap: 0.250em;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &__span {
    padding: 4px 9px;
    border-radius: 3px;
  }

  &__sections {
    display: flex;
    height: auto;
    width: 100%;
    gap: 1.450em;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section {
      display: inline-flex;
      gap: 0.850em;
    }
  }
}

.temp {
  font-size: 1.210em;
  font-weight: 900;
}

@media(max-width: 460px) {
  .daily-weather {
    &__sections {

      section {
        display: flex;
        flex-direction: column;

        div {
          text-align: center;
        }
      }
    }
  }
}
